<html>
<head>
	<body>
<p>User <%= @user.name %> posted an item:
	<br> Your new password is: <%= @user.password%> 
	<br> <%= @user.created_at.strftime('%m/%d/%Y %I:%M:%p')%>
	<br> Project : <%= @user.email %>
	</body>
	</html>